/* * {
  background: rgb(183, 191, 204);
  background: linear-gradient(
    90deg,
    rgba(183, 191, 204, 1) 0%,
    rgba(148, 159, 179, 1) 35%,
    rgba(219, 223, 230, 1) 100%
  );
} */

body {
  background-color: #eeeeee;
}

.btn-dngr {
  background-color: #ff5b57;
}

.btn-dngr:hover {
  background-color: #ffa8a6;
}

.btn-pink {
  background: #f798d0;
}

.btn-pink:hover {
  background: #ea40a4;
  color: #fff !important;
}

.cursor {
  cursor: pointer;
}
